# Data Round-Trip

In [5]:
import pandas as pd
import json

## CSV

Read the CSV file `large_countries_2015.csv`

In [2]:
large = pd.read_csv(r"large_countries_2015.csv")

## Excel

* Write the data into an Excel file
* Read the data again

In [4]:

large.to_excel (r'life_as_excel.xlsx', index = None, header=True)
sqlb = pd.read_excel(r"life_as_excel.xlsx")

In [ ]:
engine = create_engine('sqlite://', echo=False)
sqlb.to_sql("life_as_sql.db", con=engine)

## JSON - Java Script Object Notation

* Write the data into a JSON file
* Read the data again

In [11]:
sqlb.to_json("large_json.json",orient = "split")
pd.read_json(r"large_json.json",orient = "split")

       Unnamed: 0  population  fertility      continent
0      Bangladesh   160995642       2.12           Asia
1          Brazil   207847528       1.78  South America
2           China  1376048943       1.57           Asia
3           India  1311050527       2.43           Asia
4       Indonesia   257563815       2.28           Asia
5           Japan   126573481       1.45           Asia
6          Mexico   127017224       2.13  North America
7         Nigeria   182201962       5.89         Africa
8        Pakistan   188924874       3.04           Asia
9     Philippines   100699395       2.98           Asia
10         Russia   143456918       1.61         Europe
11  United States   321773631       1.97  North America

## SQL

Install the library SQLAlchemy:

In [12]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Users/wukaiti/opt/miniconda3/lib/python3.9/site-packages (2.0.7)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/wukaiti/opt/miniconda3/lib/python3.9/site-packages (from sqlalchemy) (4.5.0)

Create a connection to a new SQLite database:

In [13]:
from sqlalchemy import create_engine
db = create_engine('sqlite:///mydatabase.db')

Write the data into the database:

In [15]:
large.to_sql('countries', db)

12

Check that a database file has been created in your current working directory:

In [16]:
!ls

Selecting_Rows_and_Columns.ipynb large_countries_2015.csv
continents.csv                   large_json.json
data_round_trip.ipynb            life_as_excel.xlsx
exercise080323.ipynb             mydatabase.db
gapminder_lifeexpectancy.xlsx    pandas_intro.ipynb
gapminder_population.xlsx        penguins_simple.csv
gapminder_total_fertility.csv    population.csv
histo.png

Inspect the file that was created in a text editor. Do not spend more than 1-2 minutes on this.

*Dont worry if this is completely new to you. We will cover SQL later in the course*